*{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-color: #3a465c;
  color: white;
}

nav{
  background-color: #212a3b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  margin: 0 0 15px 0;
}

nav .links{
  width: 50%;
  display: flex;
  gap: 20%;
}

nav .links a{
  color: white;
  text-decoration: none;
}